{% extends "base.html" %}

{% block body_class %}layout-with-sidebar{% endblock %}
{% block navbar %}
<!-- Nav Bar -->
<nav class="navbar navbar-light bg-white border-bottom d-lg-none sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center gap-2" href="#">
            <span class="material-symbols-outlined text-primary">account_balance_wallet</span>
            <span class="fw-bold">DebtTracker</span>
        </a>
        <button class="btn btn-link text-secondary p-0" data-bs-target="#sidebarOffcanvas" data-bs-toggle="offcanvas"
            type="button">
            <span class="material-symbols-outlined fs-2">menu</span>
        </button>
    </div>
</nav>
{% endblock %}

{% block content %}
{% for debtors in debts %}
<div class="card mb-2">
    <div class="card-body">
        <p class="mb-0">{{ debtors.debtor_name }} owes ${{ debtors.balance }}</p>
        <p class="mb-0 text-muted">{{debtors.date_borrowed}}</p>
    </div>
</div>
{% endfor %}
{% endblock %}