{% extends "base.html" %}
{% block sidebar %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2>Sign Up</h2>
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            {{ form.first_name.label }}
                            {{ form.first_name(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ form.last_name.label }}
                            {{ form.last_name(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ form.email.label }}
                            {{ form.email(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ form.password.label }}
                            {{ form.password(class="form-control") }}
                        </div>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}