{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Sign Up</h1>
            <form method="POST">
                {{ form.hidden_tag() }} <p>{{ form.first_name.label }} <br> {{ form.first_name(size=30) }}</p>
                <p>{{ form.last_name.label }} <br> {{ form.last_name(size=30) }}</p>
                <p>{{ form.email.label }} <br> {{ form.email(size=30) }}</p>
                <p>{{ form.password.label }} <br> {{ form.password(size=30) }}</p>
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}